.header {
  height: 48px;
  background-color: #007bff;
  padding: 6px 20px;
}

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  position: relative;
}

.fa-bars {
  display: none;
}

.nav_search_wrapper {
  display: flex;
  align-items: baseline;
}

.header_nav {
  position: relative;
  display: flex;
  align-items: baseline;
}

.fa-plus-circle {
  margin-bottom: 20px;
}

app-nav-links-list {
  display: flex;
}
.search_items {
  display: flex;
  align-items: center;
}

.search_item {
  margin-right: 20px;
}

.profile_items {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.fa-bell {
  position: relative;
}

.profile_icon {
  margin-right: 20px;
  span {
    font-size: 10px;
    position: absolute;
    bottom: 10px;
  }
}

.profile_picture {
  width: 30px;
  height: 30px;
  background-image: url(../../assets/istockphoto-1200677760-612x612.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.fa-search {
  margin: 10px;
}

.fa-times {
  position: absolute;
  right: 85px;
  top: 10px;
}

.hidden_search {
  position: absolute;
  visibility: hidden;
  padding-right: 7px;
  width: 100px;
  right: 0;
}

.search_button {
  border: none;
  background-color: #ffc545;
  color: #ffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  width: 65px;
}
.hidden_content {
  display: flex;
}

input {
  padding: 0 0 0 40px;
}

.input_icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  & i {
    color: #00000045;
    z-index: 10;
  }
}

.hidden_search.active {
  transition: all 0.8s ease;
  visibility: visible;
  display: flex;
  width: 100%;
}

.input-group {
  flex-wrap: nowrap;
}

.fa-bars {
  font-size: 20px;
  margin: 8px;
}

@media (max-width: 1024px) {
  .profile_items {
    padding: 0;
  }

  .header_nav {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .adaptive_content {
    display: flex;
  }

  .header {
    height: 96px;
  }

  .header_content {
    flex-wrap: wrap;
  }

  .header_profile {
    width: 100%;
    margin-top: 10px;
  }

  .profile_items {
    justify-content: space-around;
  }


  .hide_link {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .header_nav {
    width: 100%;
    justify-content: flex-end;
  }

  .hidden_search.active {
    width: 70%;
  }

  .search_item {
    margin: 0;
    position: absolute;
    left: 90%;
  }

  .nav_search_wrapper {
    width: 100%;
    position: absolute;
  }

  .header_nav {
    width: 100%;
  }
}

@media (max-width: 608px) {
  .hidden_search.active {
    width: 60%;
  }
}

@media (max-width: 416px) {
  .header {
    height: 96px;
  }

  .hidden_search.active {
    width: 50%;
  }

  .fa-times {
    margin-left: 0;
  }

  .profile_items {
    margin: 0 8px;
  }
}
